<div class="tout"> <img id="back" [attr.src]="server+world.logo" />
  <div class="header">
    <span id="worldname"> {{world.name}} </span>
    <div> argent </div>
    <div> multiplicateur </div>
    <div> ID du joueur </div>
  </div>

  <div class="main">
    <div class="button_menu">
      <img id="logomonde" [attr.src]="server+world.logo" />
      <button mat-button>Career</button>
      <button mat-raised-button>Unlocks</button>
      <button mat-raised-button>Upgrades</button>
      <button mat-raised-button>Managers</button>
      <button mat-raised-button>Inverstors</button>
      <button mat-raised-button color="primary">Primary</button>
    </div>

    <div class="product">
      @for (product of world.products; track product.id){
      <app-product [money]="world.money" [product]="product"></app-product>
      }
    </div>
    
  </div>
</div>
