.tout {
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    font-family: arial;
}

#back {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
    opacity: 0.7;
}

.header {
    display: grid;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    height: 8%;
    background-color: aqua;
}

/* On met height à 92% car c'est 100% (tout) - 8% (header)*/
.main {
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content: space-between;
    height: 92%;
}

#logomonde {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.gauche {
    grid-template-columns: 1fr;
    place-self: center;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    text-align: center;
    background-color: cadetblue;
    justify-items: center;
}

.bouton {
    transition-duration: 0.3s;
    padding: 10px;
    font-size: 1em;
    color: #663300;
    background-color: #fbd5b5;
    border-radius: 24px;
    border: none;
    width: 75%;
}

.bouton:hover {
    padding: 10px;
    color: #632423;
    box-shadow: 1px 1px 4px #632423;
}

.product {
    padding-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 80%;
}