.produit{
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: beige;
}


.gauche{
    text-align:right;
}


.droite{
    text-align:left;
    background-color: coral;
}

#logoProduit {
    position: absolute;
    z-index: -1;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#qte{
    border-style:solid;
    border: 5px;
}

.progressbar{
    height: 25px;
    background-color: aquamarine;
}
